<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Tourist Attractions</title>
</head>
<body>
<h1>All Tourist Attractions</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${touristAttractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
